<div class="w-64 bg-white shadow-lg p-5">
    <h1 class="text-2xl font-bold mb-8">Grocery AI</h1>
    
    <ul class="space-y-4">
        <li>
            <a href="/dashboard/" class="text-gray-700 hover:text-blue-500">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/upload_sales/" class="text-gray-700 hover:text-blue-500">
                Upload Sales
            </a>
        </li>
        <li>
            <a href="{% url 'signout' %}" class="text-red-500">
                Logout
            </a>
        </li>
    </ul>
</div>